@using TheDashboard.Clients;
@using TheDashboard.FrontendUi.Shared.Tiles



<div class="container">
  <div class="row">
    <h1>@DashboardTitle</h1>
    @foreach(var tile in Tiles)
    {
      <DataTile X="@tile.XOffset" Y="@tile.YOffset" Width="@tile.Width" Title="@tile.Title" Subtitle="@tile.SubTitle"></DataTile>
    }
  </div>
</div>

@code {

  private string DashboardTitle { get; set; } = "Dashboard Title";

  [Parameter]
  public Guid DashboardId { get; set; }


  private List<TileDto> Tiles = new List<TileDto>();

  protected async override Task OnInitializedAsync()
  {
    
  }

}
